@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
   height: 100%;
}

body {
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
}

/* Works on Firefox */
* {
   scrollbar-width: thin;
   scrollbar-color: #faf3f2 #34201f;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
   width: 12px;
}

*::-webkit-scrollbar-track {
   background: #34201f;
}

*::-webkit-scrollbar-thumb {
   background-color: #faf3f2;
   border-radius: 20px;
   border: 3px solid #34201f;
}
